
/*Início*/
body {
    margin: 0;
    font-family: Calibri, Verdana, Arial, sans-serif;
}
.navbar {
    display: flex;
    align-items: center;
    background-color: #760c4c;
    padding: 0 20px;
}

.navbar .logo {
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5em;
    font-style: italic;
    box-shadow: #313131;
    margin-right: auto;
    padding: 1em;
}

.navbar .logo img {
    height: 80px; 
    padding: 10px;
}

.navbar ul {
    display: flex;  
    list-style: none;
    padding: 0;
    margin: 0;    
}
.navbar ul li {
    margin: 0 15px;
}
.navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.navigation-link.w--current:active {
    box-shadow: 0 0 0 1px #e95ea6;
    border-color: rgba(0, 0, 0, 0);
}

.navigation-link.w--current {
    box-shadow: 0 0 0 1px #e95ea6;
    opacity: 1;
    color: #fff;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 2px;  
    padding-left: 20px;
    padding-right: 20px;
    transition: background-color .5s, opacity .2s;
}
#banner {
    background-color: #003049;
    display: flex;
    height: 396px;
}

 /*Formulário*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: #fefefe;
    margin:15% auto;
    padding: 15% auto;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 8px;
    position: relative;
}

.close {
    color: #aaa;
    float:right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color:black;
    text-decoration: none;
    cursor: pointer;
}

.container {
    display: flex; /*para flutuar*/
    justify-content: center; /*alinha conteúdo horizontalmente - eixo X*/
    align-items: top;/*alinha conteúdo verticalmente - eixo Y*/
    width: 100%;
}
.container-2 {
    background-color:#eee;
    display: flex; /*para flutuar*/
    justify-content: center; /*alinha conteúdo horizontalmente - eixo X*/
    align-items: top;/*alinha conteúdo verticalmente - eixo Y*/
    width: 100%;
}
    .title-heading {
        text-align: center;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .h2 {        
        color: #313131;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-top: 20px;
        margin-bottom: 10px;        
        font-weight: 700;
        line-height: 30px;
    }

    .card {
        color: #b8b9c2;
        background-color: #3f4046;
        border-radius: 5px;        
        height: 400px;
        width: 520px;
        margin:2em;
        overflow: hidden;
        box-shadow: 0 5px 2rem #0000004d;
    }
        .card-header {
            background-image:url(img/img-header-1.png);
            background-position: 50% 30%;
            background-size: cover;
            height: 250px;
        }
        .card-body{
            background-color:#760c4c;
            height: 100%;
            padding: 30px;
            overflow: visible;
        }
        .card-heading {
            color: #fff;
            margin-top: 0;
            font-size: 28px;
            font-weight: 400;
        }
        .button {
            background-color: #bc175c;
            color: #fff;
            text-align: center;
            border-radius: 3px;
            padding: 10px 16px;
            font-size: 18px;
            font-weight: 700;
            text-decoration: none;
            transition: background-color .5s;
            display: inline-block;
        }
        .mock-cel {
            display: flex;
            margin: 0 4em;
            height: 800px;
            width: 500px;
        }